*.DS_Store*
*.egg-info/
dist/
venv/
build/
*__pycache__*
*.idea/*
.idea/*
*.pyc
.pytest_cache/*
dfe/data
dfe/state_transition_dialogue_manager/data/count_1w.txt
dfe/state_transition_dialogue_manager/data/count_2w.txt
dfe/scratch
modules/*
dm_pickle*
dialogue_manager*
GlobalUserTableAccessor*
memory_debugging*
opening_database*
dfe/modules/emora
_globals.py
venv*
.vscode
.coverage
.pytest_cache
htmlcov